# Pandas

In [3]:
import pandas as pd

In [4]:
lst=["Geeks","For","Geeks","is","portal","for","Geeks"]

In [5]:
df=pd.DataFrame(lst)

In [6]:
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [7]:
df.head()

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal

In [13]:
student={
    'name':['aryan','manav','ankur'],
    'roll':[213,212,211],
    'section':['cse-15','cse-16','cse-17']
}

In [14]:
sd=pd.DataFrame(student)

In [15]:
print(sd)

    name  roll section
0  aryan   213  cse-15
1  manav   212  cse-16
2  ankur   211  cse-17

In [16]:
sd.head()

    name  roll section
0  aryan   213  cse-15
1  manav   212  cse-16
2  ankur   211  cse-17

In [17]:
print(sd.columns)

Index(['name', 'roll', 'section'], dtype='object')

In [19]:
sd.shape

(3, 3)

In [20]:
sd.info

<bound method DataFrame.info of     name  roll section
0  aryan   213  cse-15
1  manav   212  cse-16
2  ankur   211  cse-17>

In [23]:
pk=pd.read_csv('pokemon.csv')

In [24]:
pk.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [34]:
pk.tail(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [37]:
pk.info

<bound method DataFrame.info of        #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed Generation Legendary
0         65       65     45          1     False
1         80       80     60          1     False
2        100      100     80          1     False
3        122      120     80          1     False
4         60       50     65          1     False
..       ...      ...    ...        ...       ...
795      100      150     50          6      True
796      160      110    110          6      True
797      150      130     70          6      True
798      170      130     80          6      True
799      130       90     70          6      True

[800 rows x 13 columns]>

In [39]:
pk.describe

<bound method NDFrame.describe of        #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed Generation Legendary
0         65       65     45          1     False
1         80       80     60          1     False
2        100      100     80          1     False
3        122      120     80          1     False
4         60       50     65          1     False
..       ...      ...    ...        ...       ...
795      100      150     50          6      True
796      160      110    110          6      True
797      150      130     70          6      True
798      170      130     80          6      True
799      130       90     70          6      True

[800 rows x 13 columns]>